body {
  padding-top: 70px;
  background-color: #e7e7e7;
}
.banner {
  display: table;
  text-align: center;
  background-repeat: no-repeat;
  margin-top: 5px;
  width: 100%;
  height: 21em;
  color: #fff;
  background-color: #364a88;
  font-family: 'Roboto', sans-serif;
  padding-top: 5em;
  padding-bottom: 5em;
}
.navbar-default .navbar-nav>li>a {
  color: #5956ae;
}
.navbar-default .navbar-brand {
  color: #67b25f;
}
#get-started-now {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 2em;
  background-color: #2fa1f2;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
}
.loginsection,
.customersection,
.sharesection {
  text-align: center;
  color: #58c358;
  padding-top: 25%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
