body {
  padding-top: 70px;
  background-color: #E7E4E4;
}

/////// Purple Banner /////////

.banner {
  margin: 0 auto;
  display: table;
  text-align: center;
  background-repeat: no-repeat;
  margin-top: -2em;
  width: 100%;
  height: 21em;
  color: #fff;
  background-color: #364a88;
  font-family: 'Roboto', sans-serif;
  padding-top: 5em;
  padding-bottom: 5em;
}

//// Logo Color  /////
.navbar-default .navbar-nav>li>a {
  color: #5956AE;
}

///// Check marks section //////

// .secondbanner {
//   margin: 0 auto;
//   display: table;
//   text-align: center;
//   font-family: 'Roboto', sans-serif;
//   margin-top: 3em;
//   color: rgb(108, 181, 108);
//   margin-bottom: 4em;
// }

///// dashboard //////
.col-sm-12 {
  background-color: rgb(213, 224, 220);
  color: rgb(63, 119, 194);
}


///// Logout and login colors ///////

.navbar-default .navbar-brand {
  color: #67B25F;
}

//// Get Started Now Button on Front Page ///////
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 2em;
}


//// Front Page /////

.loginsection {
  width: 27em;
  text-align: center;
  color: #58c358;
  float: left;
  padding-top: 6em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-bottom: 6em;
  font-family: 'Roboto', sans-serif;
  width: 307px;
  height: 306px;
  background: #f2EEEE;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 217px;
  margin-left: 5em;
}

.customersection {
  float: left;
  width: 30em;
  color: #808080;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;
  font-family: 'Roboto', sans-serif;
  width: 307px;
  height: 306px;
  background: #f2EEEE;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 217px;
  margin-left: 5em;
}

.sharesection {
  float: left;
  width: 29em;
  color: #5e4abb;
  text-align: center;
  padding-top: 6em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-bottom: 6em;
  font-family: 'Roboto', sans-serif;
   width: 307px;
  height: 306px;
  background: #f2EEEE;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 217px;
  margin-left: 5em;
}

.howdoesitwork {
  margin: 0 auto;
  display: table;
  color: #30aedb;
  font-family: 'Roboto', sans-serif;
  padding-top: 2em;
  padding-bottom: 3em;
}


.footer {
  background-color: #a2d7d3;
  width: 100%;
  height: 7em;
  margin-top: 18em;
}
///// Create a New Survey Page ///////

input.form-control {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.create-new-survey {
  color: #4DA1DB;
  font-family: 'Roboto', sans-serif;
  background-color: #e1e5ed;
  padding: 1em;
}
