extend layout
block content
  include navbar-user
  .container
    .row
      .col-sm-12
        h2 Create New Survey
        input.form-control(type="text", placeholder="Survey Title")
        .form-group
          label(for="comment") Survey Description
          textarea#comment.form-control(rows="3")
        a.btn.btn-primary(type="submit", class="edit-survey-submit", href="/surveys") Submit
        h2 Add Questions
        .list-group#new-survey-questions
          include question
        include questionform
        br
        input.btn.btn-default(type="submit", value="Save Survey")
