extend layout
block content
  include navbar-user
  br
  br
  br
  .container
    .row
      .col-sm-12
        input.form-control(type="text", placeholder="Title")
        .form-group
          label(for="comment") Description
          textarea#comment.form-control(rows="3")
        include question
        include questionform
        br
        input.btn.btn-default(type="submit", value="Save Survey")
