extend layout
block content
  include navbar-user.jade
  .container
    .row
      .col-sm-12
        h2 Dashboard
        .btn.btn-primary Create Survey
        .list-group
          for survey in surveys
            section.list-group-item(href='#')
              h4.list-group-item-heading #{survey.title}
              p.list-group-item-text #{survey.description}
              div.btn-group.btn-group-sm(role='group')
                a.btn.btn-default(href="#s") View Results
                a.btn.btn-default(href="surveys/#{survey.id}") Edit Survey




