.edit-question-form(data-question="#{question.id}")
  .form-group
    label(for="title") Title
    input(name="title" value=question.title)
  .form-group
    label(for="helpText") Help Text
    input(name="helpText" value=question.helpText)
  .form-group
    label(for="type") Question Type:
      select.form-control
        if question.type == "Scale"
          option Scale
          option Multiple Choice
          option Text
        if question.type == "Multiple Choice"
          option Multiple Choice
          option Scale
          option Text
        if question.type == "Text"
          option Text
          option Scale
          option Multiple Choice
  if question.type == 'Multiple Choice'
    for choice in question.choices
      .input-group.input-group-sm
        input.form-control(type="text", class="form-control", value=choice)
    include scale
    include text
  else
    include multiple-choice
    include scale
    include text
  button.btn.btn-primary.btn-sm(type="submit") Update Question
