extends layout
block content
  include navbar-home
  .banner
    h1 Easily create and share custom surveys.
    h1 Get the answers you need.
    button.waves-effect.waves-light.btn Get Started Now



  .secondbanner
    h2
      i.fa.fa-check     Login or signup to get started today.
    h2
      i.fa.fa-user-plus    Customer your survey type, questions, and responses
    h2
      i.fa.fa-bullhorn  Share your surveys and easily track results

  .footer
