extends layout
block content
  include navbar-home
  .container
    .row
      .col-xs-12
        .banner
          h1 Easily create and share custom surveys.
          h1 Get the answers you need.
          a.btn(href="/auth/login", id="get-started-now") Get Started Now
    .row.home-page-headers
      .col-sm-4
        .loginsection
          h2
            i.fa.fa-sign-in
              p Login or Sign Up to get started today
      .col-sm-4
        .customersection
          h2
            i.fa.fa-user-plus
              p Customize question types and responses
      .col-sm-4
        .sharesection
          h2
            i.fa.fa-bullhorn
              p Share your surveys and easily track results

