extends layout
block main
  .navbar
    h4 Survey App
    button Login
    button Sign Up
  .banner
    h4 Easily create and share custom surveys
    button Get Started Now
    h2 Get the answers you need
  .secondbanner
    h2 Login or signup to get started today.
    h2 Customer your survey type, questions, and responses
    h2 Share your surveys and easily track results
