html
  head
    title TuringSurvey
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="icon", href="../favicon.ico", type="image/x-icon")
  body
    block content
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        .row
            .col-sm-12
                p Team Turing | 2015
                p Created by Max Krieg, Malin King, and Ali Karukas during General Assembly Web Development Immersive course.
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/survey.js")
    script(type="text/javascript", src="/javascripts/question.js")
    script(type="text/javascript", src="/javascripts/response.js")
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript", src="/javascripts/main.js")
