.input-group
  span.input-group-addon
    input(type="radio", placeholder="Choice 1")
.input-group
  span.input-group-addon
    input(type="radio", placeholder="Choice 2")
.input-group
  span.input-group-addon
    input(type="radio", placeholder="Choice 3")
.input-group
  span.input-group-addon
    input(type="radio", placeholder="Choice 4")
.input-group
  span.input-group-addon
    input(type="radio", placeholder="Choice 5")
//- button.btn.btn-primary(type="button") Another Choice
