.form-group
  input.form-control(type="text", placeholder="Choice 1")
  input.form-control(type="text", placeholder="Choice 2")
  input.form-control(type="text", placeholder="Choice 3")
  input.form-control(type="text", placeholder="Choice 4")
  input.form-control(type="text", placeholder="Choice 5")
