.input-group
  span.input-group-addon
    input(type="radio", placeholder="Enter choice here...")
.input-group
  span.input-group-addon
    input(type="radio", placeholder="Enter choice here...")
button.btn.btn-primary(type="button") Another Choice
