.multiple-choice
  p Guest will have five options to choose from.  Customize those options by changing the fields below:
  .form-group.form-group-sm.multiple-choice
    .form-group
      input(type="text", class="multiple-choice-option form-control", placeholder="Choice 1")
    .form-group
      input(type="text", class="multiple-choice-option form-control", placeholder="Choice 2")
    .form-group
      input(type="text", class="multiple-choice-option form-control", placeholder="Choice 3")
    .form-group
      input(type="text", class="multiple-choice-option form-control", placeholder="Choice 4")
    .form-group
      input(type="text", class="multiple-choice-option form-control", placeholder="Choice 5")
