
input(type="text", placeholder="Title")
input(type="text", placeholder="Help Text")
.btn-group.btn-group-md.btn-group(role="group", aria-label="...")
  input.btn.btn-default(type="button", value="Multiple Choice")
  input.btn.btn-default(type="button", value="Text")
  input.btn.btn-default(type="button", value="Scale")

include multiple-choice
include scale

input.btn.btn-default(type="button", value="Add Question")








