
input(type="text", placeholder="Title")
input(type="text", placeholder="Help Text")

.btn-group.btn-group-lg.btn-group(role="group", aria-label="...")
  button.btn.btn-default(type="button") Multiple Choice
  button.btn.btn-default(type="button") Text
  button.btn.btn-default(type="button") Scale

include multiple-choice
//- include text
//- include scale

button Add Question








