article(class="list-group-item", data-survey-id="#{survey.id}")
  input(type="text", placeholder="Question Title", id="new-question-title")
  input(type="text", placeholder="Question Help Text", id="new-question-helptext")
  .form-group
    label(for="type") Question Type:
      select.new-question-type.form-control
        option Scale
        option Multiple Choice
        option Text

  include multiple-choice
  include scale
  include text

  div.btn-group.btn-group-sm(role="group")
    a.btn.btn-primary.btn-sm.new-question-save(type="submit") Save
    a.btn.btn-primary.btn-sm.new-question-cancel(type="cancel", href="/surveys") Cancel








