article(class="list-group-item")
  h4 #{title}
  h4 #{helpText}
  h5 #{type}
  //- // checking to see if we have email addresses
  if (type === "Multiple Choice")
    ul
      for choice in choices
        li #{choice}
  if (type === "Text")
    include text
  if (type === "Scale")
    include scale

