h3 From 1 to 5:
.input-group
  span.input-group-addon 1
  input.form-control(type="text", placeholder="Label ex./ 'Not Likely'", aria-describedby="basic-addon2")
.input-group
  span.input-group-addon 5
  input.form-control(type="text", placeholder="Label ex./ 'Very Likely'", aria-describedby="basic-addon2")
