.radio
  label
    input(type="radio", name="optradio") 1
.radio
  label
    input(type="radio", name="optradio") 2
.radio
  label
    input(type="radio", name="optradio") 3
.radio
  label
    input(type="radio", name="optradio") 4
.radio
  label
    input(type="radio", name="optradio") 5

