label.radio
  input(type="radio", name="optradio") 1
label.radio
  input(type="radio", name="optradio") 2
label.radio
  input(type="radio", name="optradio") 3
label.radio
  input(type="radio", name="optradio") 4
label.radio
  input(type="radio", name="optradio") 5

