extend layout
block content
  include navbar-home
  .container
    .row
      .col-sm-12
        .list-group#survey-questions
          h1 #{survey.title}
          for question in survey.questions
            article(class="list-group-item")
              h4 #{question.title}
              h5 #{question.helpText}
                if question.type == "Scale"
                    include take-scale
                if question.type == "Text"
                    include take-text
                if question.type == "Multiple Choice"
                  for choice in question.choices
                    include take-multiple-choice
          a.btn.btn-primary(href="/surveys/guest/thankyou") Submit Survey
